---
---

@charset "utf-8";

$font-family: 'Droid Serif', serif;
$font-size:   1em;
$font-weight: 400;
$small-font-size:  $font-size * 0.875;
$line-height: 1.4;

$margin:      25%;
$spacing:     10%;
$spacing-small: 5%;

$on-laptop:        800px;		//Originally 800px

// Use media queries like this:
// @include media-query($on-palm) {
//     .page-content {
//         padding-right: $spacing / 2;
//         padding-left: $spacing / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
    background: #bbb;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    line-height: $line-height;
    font-family: $font-family;
    font-size: $font-size;
}

.main {
    width: 80%;
    min-height: 450px;
    min-width: 450px;
    max-width: 1000px;
    margin: auto;
    padding: $spacing-small;

}

header {
    text-align: center;
    padding: $spacing-small;
}
header h1 { font-size: $font-size * 2.5; }
header h3 { font-size: $font-size * 1.8; }

a.home-nav {
    display: block;
    margin: 1em auto;
    width: 40%;
    height: 240px;
    border: 4px solid black;
    border-radius: 5%;
    background: #9cbdde;
    font-size: $font-size * 3;
    text-decoration: none;
    text-align: center;
    line-height: 240px;
    text-transform: uppercase;

    @include media-query($on-laptop) {
        height: 175px;
        font-size: $font-size * 2;
        line-height: 175px;
    }
}
a.home-nav:hover { background: #eee; font-weight: bold; }

a.nav {
    display: inline-block;
    margin: 0 auto;
    width: $spacing-small * 3;
    height: 40px;
    border: 2px solid black;
    background: #9cbdde;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 40px;

    @include media-query($on-laptop) {
        height: 30px;
        line-height: 30px;
    }
}
a.nav:hover { background: #eee; }

.section {
    width: 80%;
    min-width: 520px;
    margin: auto;
    padding: $spacing-small;
    text-align: justify;
}

.copy {
    margin: auto;
    text-align: center;
}
