---
---

@charset "utf-8";

$font-family: 'Droid Serif', serif;
$font-size:   1em;
$font-weight: 400;
$small-font-size:  $font-size * 0.875;
$line-height: 1.4;

$margin:      150px;
$spacing:     96px;
$spacing-small: 48px;

$on-laptop:        800px;		//Originally 800px

// Use media queries like this:
// @include media-query($on-palm) {
//     .page-content {
//         padding-right: $spacing / 2;
//         padding-left: $spacing / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
    background: #bbb;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    line-height: $line-height;
    font-family: $font-family;
    font-size: $font-size;
}

.main {
    width: 80%;
    min-height: 600px;
    min-width: 600px;
    margin: auto;
    padding: $spacing-small;
    @include media-query($on-laptop) {
        width: 650px;
        padding: $spacing-small * 0.75;
        font-size: $font-size * 1.5;
    }
}

header {
    text-align: center;
    padding-top: $spacing-small * 0.5;
    padding-bottom: $spacing-small * 0.75;
}
header h1 { font-size: $font-size * 2.5;
    @include media-query($on-laptop) {
        font-size: $font-size * 1.8;
    }
}
header h3 { font-size: $font-size * 1.8;
    @include media-query($on-laptop) {
        font-size: $font-size * 1.25;
    }
}

a {
    text-decoration: none;
    &:hover { font-weight: bold; }
}
a.home-nav {
    display: block;
    margin: 20px auto;
    width: 450px;
    height: 240px;
    border: 4px solid black;
    border-radius: 50%;
    background: #9cbdde;
    font-size: $font-size * 3;
    text-decoration: none;
    text-align: center;
    line-height: 240px;
    text-transform: uppercase;

    @include media-query($on-laptop) {
        width: 250px;
        height: 175px;
        border-radius: 50%;
        font-size: $font-size * 1.5;
        line-height: 175px;
    }
}
a.home-nav:hover { background: #eee; font-weight: bold; }

a.nav {
    display: inline-block;
    margin: 0 auto;
    width: $spacing-small * 3;
    height: 40px;
    border: 2px solid black;
    background: #9cbdde;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 40px;

    @include media-query($on-laptop) {
        width: $spacing-small * 2;
        height: 30px;
        font-size: $font-size * 0.75;
        line-height: 30px;
    }
}
a.nav:hover { background: #eee; }

.section {
    //width: 80%;
    min-width: 400px;
    margin: auto;
    padding: $spacing-small;
    text-align: justify;
    @include media-query($on-laptop) {
        padding: 0;
    }
}

.copy {
    margin: auto;
    text-align: center;
    @include media-query($on-laptop) {
        padding-bottom: $spacing-small * 0.75;
        font-size: $font-size * 0.7;
    }
}
