<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body ng-app="BlogApp" ng-cloak>
	    <md-toolbar class="md-display-2" layout-padding="">{{ page.title }}</md-toolbar>
	    <div layout="column">
	        <md-content class="md-padding">
				<article class="post">

			        <div class="post-content">
			            {{ content }}

			            <ul class="post-list">
			                {% for post in site.posts %}
		                    <li>
		                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		                        <h2>
		                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		                        </h2>
		                    </li>
			                {% endfor %}
			            </ul>

			            <p class="section-post-links">subscribe <a style="font-size:12px !important;" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
			        </div>

			    </article>
	        </md-content>
	    </div>
	    <div layout="" layout-align="center center"><span class="md-caption">&copy;2017 Nathaniel Brown</span></div>

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	    <script src="scripts/blogapp.js"></script>

	</body>

</html>
