<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	{% seo %}

	<body>
		<header>
			<h1>Nathaniel Brown</h1>
			<h3>Software Engineer</h3>
			<br>
			<nav>
				<a href="/" class="nav">Home</a>
				<a href="/about" class="nav">About</a>
				<a href="/projects" class="nav">Portfolio</a>
				<a href="/blog" class="nav">Blog</a>
			</nav>
		</header>
		<hr>
		<br>
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

			<header class="post-header">
				<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
				<p class="post-meta">
					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
					{% if page.author %} •
					<span itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name">{{ page.author }}</span>
					</span>
					{% endif %}
				</p>
			</header>

			<section itemprop="articleBody">
				{{ content }}
			</section>

			<span><a href="/projects">All Projects</a> -- <a href="/blog">All Posts</a></span>

		</article>
		<hr>
	    <br>
		<div class="copy"><span>Copyright &copy;2017 Nathaniel Brown</span></div>

	</body>

</html>
