html {
  background: #bbb;
}

body {
  line-height: 1.4;
  width: 100%;
  background: #bbb;
}

#about-tab {
  min-width: 250px;
  width: 35%;
  max-width: 600px;
  min-height: 300px;
  margin: 20px auto 20px 20px;
  border-right: 2px grey solid;
  background: #eee;
/*   float: left; */
}

#other-tabs {
  min-width: 450px;
  width: 60%;
  max-width: 1000px;
  min-height: 300px;
  margin: 20px 20px 20px auto;
  background: #eee;
/*   float: right;
}
